body {
    text-align: center;
    background-color: rgb(98, 98, 98);
}

#fretboard {
    border: 2px solid black;
    margin: 0 auto;
    background: lightslategray;
}

.note {
    border-radius: 30%;
}

table {
    text-align: center;
}

.btn {
    border-color: transparent;
}

.btn-light:hover {
    opacity: 80% !important;
    border-color: transparent;
}

.btn:focus {
  border-color: transparent;
}

.reset-buttons {
    padding: 0.5em;
}

.btn-group {
    padding: 0.5em;
} 
